<div class="card">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Descrição</label>
                        <input required type="text" class="form-control" [(ngModel)]="item.descricao" name="descricao"/>
                    </div>
                </div>
            </div>
            <button [disabled]="!form.form.valid" class="btn btn-primary"(click)="modalToatr()">Salvar</button>
        </form>
    </div>
</div>